.ioc-manager-grid {
  display: inline-flex;
  flex-direction: row;
  column-gap: 5px;
}
.modal-dialog-grid {
  display: grid;
  grid-template-columns: repeat(2,auto);
  row-gap: 3px;
  width: 100px;
}
.col1-2{
  grid-column: 1 / 3;
}
