:root {
  --clf-tab-radius: 6px;
  --clf-tab-padding: 5px 20px;
  --clf-tab-content-padding: 10px;
  --clf-tab-gap: 6px;
  --clf-tab-offset: 1px;
  --clf-tab-border-width: 1px;
  --clf-tab-font-size: var(--clf-h3-font-size);
  /* Colors */
  --clf-tab-content-background-color: var(--clf-tab-active-background-color);
  --clf-tab-hover-background-color: var(--clf-action-button-hover-color);
  --clf-tab-colour: var(--clf-font-colour);
  --clf-tab-background-color: var(--clf-dashboard-header-background-colour);
  --clf-tab-active-background-color: #fafafa;
  --clf-tab-border-color: #c3c3c3;
}
