.clf-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size:24px;
}

.clf-icon-small {
  font-size: 16px;
}
/* ==========================================
Example useage

<svg class="clf-icon medium-size-red-icon">
  <use xlink:href="_content/Clf.Blazor.Basic.Components/icons/single_colour_sprite.svg#clf_ic_add_24_regular"></use>
</svg>

where medium-size-red-icon is a css class

.medium-size-red-icon {
  font-size: 24px;
  color: red;
}

Changing size or colour of individual icons

<svg class="clf-icon clf_ic_add_24_regular">
  <use xlink:href="_content/Clf.Blazor.Basic.Components/icons/single_colour_sprite.svg#clf_ic_add_24_regular"></use>
</svg>

.clf_ic_add_24_regular {
  font-size: 32px;
  color: red;
}
========================================== */