@using Microsoft.AspNetCore.Components.Web
@namespace Clf.Blazor.ExamplesServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Clf.Blazor.ExamplesServerApp.styles.css" rel="stylesheet" />
    <link href="_content/Clf.Blazor.Basic.Components/css/themes/clf-theme.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body style="background-color: var(--clf-test-background-colour);">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Clf.Blazor.Basic.Components/Controls/Widgets/Monitors/ImageViewer.razor.js"></script>
    <script src="_content/Clf.Blazor.Basic.Components/Controls/Widgets/Containers/Dashboard/DashboardPanel.razor.js"></script>
</body>
</html>
