@page "/"
@inject IJSRuntime _jsRunTime

<h3>Sample components</h3>

<div class="examples-container">

  <button @onclick="NavigateToLedExamples">LED</button>

  <button @onclick="NavigateToTypescaleExamples">Type Scale</button>

  <button @onclick="NavigateToTextEntryExamples">Text Entry</button>

  <button @onclick="NavigateToSpinnerExamples">Spinner</button>

  <button @onclick="NavigateToCheckBoxExamples">Checkbox</button>

  <button @onclick="NavigateToTextUpdateExamples">Text Update</button>

  <button @onclick="NavigateToRadioButtonExamples">Radio Button</button>

  <button @onclick="NavigateToBooleanButtonExamples">Boolean Button</button>

  <button @onclick="NavigateToActionButtonExamples">Action Button</button>

  <button @onclick="NavigateToNavigationButtonExamples">Navigation Button</button>

  <button @onclick="NavigateToComboBoxExamples">Combo Box</button>

  <button @onclick="NavigateToSliderExamples">Slider</button>

  <button @onclick="NavigateToProgressBarExamples"> Progress Bar </button>

  <button @onclick="NavigateToChoiceButtonExamples">Choice Button</button>

  <button @onclick="NavigateToTreeViewExamples">Treeview</button>

  <button @onclick="NavigateToSlideButtonExamples">Slide Button</button>

  <button @onclick="NavigateToTabExamples">Tab</button>

  <button @onclick="NavigateToMultiStateLedExamples">Multi-State LED</button>

  <button @onclick="NavigateToColorPickerExamples">Color Picker</button>

  <button @onclick="NavigateToModalDialogExamples">Modal Dialog</button>

</div>

@code {
  public async Task NavigateToLedExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "led-examples", "_blank");
  }

  public async Task NavigateToTypescaleExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "type-scale-examples", "_blank");
  }

  public async Task NavigateToTextEntryExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "text-entry-examples", "_blank");
  }

  public async Task NavigateToCheckBoxExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "check-box-examples", "_blank");
  }

  public async Task NavigateToTextUpdateExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "text-update-examples", "_blank");
  }

  public async Task NavigateToRadioButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "radio-button-examples", "_blank");
  }
  public async Task NavigateToSliderExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "slider-examples", "_blank");
  }

  public async Task NavigateToActionButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "action-button-examples", "_blank");
  }

  public async Task NavigateToNavigationButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "navigation-button-examples", "_blank");
  }
  public async Task NavigateToComboBoxExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "combo-box-examples", "_blank");
  }

  public async Task NavigateToBooleanButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "boolean-button-examples", "_blank");
  }
  public async Task NavigateToSpinnerExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "spinner-examples", "_blank");
  }

  public async Task NavigateToProcessPVButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "process-pv-button-examples", "_blank");
  }

  public async Task NavigateToProgressBarExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "progress-bar-examples", "_blank");
  }

  public async Task NavigateToChoiceButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "choice-button-examples", "_blank");
  }

  public async Task NavigateToTreeViewExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "treeview-examples", "_blank");
  }

  public async Task NavigateToTabExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "tab-examples", "_blank");
  }

  public async Task NavigateToSlideButtonExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "Slide-button-examples", "_blank");
  }

  public async Task NavigateToMultiStateLedExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "multi-state-led-Examples", "_blank");
  }

  public async Task NavigateToColorPickerExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "Color-Picker-Examples", "_blank");
  }

  public async Task NavigateToModalDialogExamples()
  {
    await _jsRunTime.InvokeVoidAsync("open", "modal-dialog-examples", "_blank");
  }

}

