@page "/type-scale-examples"

<h3> Type Scale Examples</h3>

<h1 class="clf-title">Title 24px</h1>

<h1>H1 20px</h1>

<h1 class="clf-medium-font">H1 20px Medium</h1>

<h2>H2 18px</h2>

<h2 class="clf-medium-font">H2 18px Medium</h2>

<h3>H3 16px</h3>

<h3 class="clf-medium-font">H3 16px Medium</h3>

<p><b>Default 14px Bold</b></p>

<p>Default 14px Medium</p>

<p class="clf-fine-print"><b>Fine Print 12px Bold</b></p>

<p class="clf-fine-print">Fine Print 12px Medium</p>

<p class="clf-fine-print-small"><b>Fine Print 10px Bold</b></p>

<p class="clf-fine-print-small">Fine Print 10px Medium</p>






@code {

}
