@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.ThemeManager
@inherits LayoutComponentBase

<PageTitle>Clf.Blazor.ExamplesServerApp</PageTitle>


  <div class="page">
    <main>
      <div class="top-menu">
      <Examples />
      <div class="theme-menu">
        <label class="theme-label">Theme: </label>
        <ThemeChanger IsVisible=true />
      </div>
      </div>
    
      <article class="content px-4">
        @Body
      </article>
    </main>
    </div>


