@using Clf.Blazor.Basic.Components.Controls.Widgets.Containers.ThemeManager
@inherits LayoutComponentBase

<PageTitle>Clf.Blazor.ExamplesServerApp</PageTitle>


  <div class="page">
    <main>
    <ThemeSelector IsVisible=true />
      <article class="content px-4">
        @Body
      </article>
    </main>
    </div>


